---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const films = await getCollection('films')

---

<Layout title="Films">
	<main>
		<h1 class="text-center text-7xl font-extrabold m-6">films</h1>
		<section aria-label="Películas">
			<div class="mx-auto max-w-screen-xl">
				<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-4 ">
					{
						films.map(film => {
							const { slug, data } = film
							const { title, poster, director, year, duration, watch } = data

							return (
								<article>
									<a href={`/films/${slug}`} class="xl:mb-0 ">
										<img src={poster} alt={title} class="w-32 aspect-[230/345] transition hover:scale-105" transition:name={`image-${slug}`}/>
									</a>
								</article>
							)
 						})
					}
				</div>
			</div>
		</section>
	</main>
</Layout>

